/* ##  Lubna's code.......... */
#parents{
    display: flex;
    height: 600px;
}
#content{

    margin-top: 130px;
    font-family:'Times New Roman', Times, serif;
    
    flex-grow: 2;
    font-size: 25px;
    
}
#one img{
    width: 180px;
}
p{
    color: rgba(0, 0, 15, 0.7);
}
h3{
    color: palevioletred;
}
#blue{
    color: rgb(16, 187, 230);
}
#red{
    color: rgb(226, 21, 55);}
#two img{
    flex-grow: 3;
    height: 500px;
    width:500px;
    margin-top: 150px;
    margin-right: 50px;
}
#three img{
    display: flex;
    flex-grow: 1;
    
    float: right;
    
}#space{
    flex-grow: 2;
    margin-top: 10px;
    font-size: medium;
    color:rgba(234, 234, 255, 0.7);
}
#btn{
    flex-grow: 2;
    font-size: medium;
    height: 40px;
    width: 80px;
    background-color:white;
    color: palevioletred;
    border-radius: 20px;
    border: 2px solid white;
}
#btnbg{
    display: flex;

    border: 2px solid rgb(43, 171, 245);
    background-color: rgb(43, 171, 245);
    border-radius: 30px;
    width: 350px;
    height: 40px;
    padding: 4px;
    margin: 2px;
}
@media only screen and (max-width:780px){
    parents{
        display: flex;
        height: 600px;
    }
    #two img{
        flex-grow: 3;
        height: 200px;
        width:200px;
        margin-top: 50px;
        margin-right: 10px;
    }
    #content{
        margin-top: 50px;
        font-family: 'Times New Roman', Times, serif;
        
        flex-grow: 2;
        
        font-size: 10px;
        
    }
    #btnbg{
        display: flex;
    
        
        width: 150px;
        height: 20px;
        padding: 2px;
    }
    #one img{
    
        height: 150px;
        width:90px;
}
#space{
    flex-grow: 2;
    margin-top: 5px;
    font-size: smaller;
    
}
#btn{
    flex-grow: 2;
    font-size: smaller;
    height: 15px;
    width: 40px;
    padding:2px;
    
}}
